@import url(http://fonts.googleapis.com/css?family=Roboto:400,400italic,500,500italic,700,700italic,900,900italic,300italic,300,100italic,100);

body{
  margin: 0;
  padding: 0;
  font-family: Roboto;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
   box-sizing: border-box;
}

.container{
  display: grid;
  grid-template-rows: auto auto 1fr;
  grid-template-columns: 1fr 1fr;
  height: 100vh;
}

.header{
  grid-column: 1/3;
  grid-row: 1/2;
  height: 50px;
  display: flex;
  justify-content: center;
  padding-top: 25px;
  padding-bottom: 25px;
}

.announcement-container{
  border: 2px solid red;
  width: 300px;
  background-color: rgb(255 150 150);
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: center;
}

.newline{
  width: 100%;
}

.player-container,
.opponent-container{
  display:flex;
  flex-flow: row wrap;
  align-content: flex-start;
}

.player-container{
  justify-self: end;
}

.gameboard-padding{
  /*
  width: 100%;
  */
}

.player-container > .gameboard-padding {
  padding-right: 20px;
}

.opponent-container > .gameboard-padding {
  padding-left: 20px;
}

.gameboard-padding > div {
  padding-top: 10px;
  text-align: center;
}

table{
  border-spacing: 0px;
  border-collapse: collapse;
  min-height: 11em;
  min-width: 11em;
}

td{
  padding: 0;
}

.board-cell{
  outline: 1px solid rgb(175, 175, 255);
  height: 2em;
  width: 2em;
}

.board-cell-not-started {
  outline: 1px solid rgb(175, 175, 255);
  background-color: rgb(200, 200, 200);
  height: 2em;
  width: 2em;
}

.board-cell-content{
  position: relative;
  height: 2em;
  width: 2em;
}

.hit{
  background-color: red;
}

.miss{
  background-color: gray;
}

.ship{
  background-color: rgb(200, 200, 255, 0.5);
  border: 2px solid blue;
  box-sizing: border-box;
}

.board-cell:hover{
  background-color: rgb(225, 225, 255);
}

.game-controls{
  padding-top: 10px;
  grid-column: 1/3;
  display: flex;
  justify-content: center;
}

button {
  height: 20px;
}


